transformers==4.40.1
accelerate==0.29.3
peft==0.10.0
bitsandbytes==0.42.0
swifter==1.4.0
pytorch_transformers==1.2.0
torch==2.3.0
pandas
nltk
matplotlib
seaborn
pypdf
requests
matplotlib
scikit-learn
nltk
huggingface_hub
bs4
selenium